*{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

button{
    background-color: beige;
    padding: 2em;
}

.fa-bars{
    color: rgb(57, 192, 129);
    padding: 40px;
}

.flex-container{
    display: flex;
    background-color: coral;
    padding: 10px;
}

.flex-container div{
    background-color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;
}