*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedor-1{
    width: 100%;
    display: flex;
}

.elemento-1{
    background: yellow;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;  
    margin: 10px;
    border: 5px solid black;
}

.elemento-2{
    background: red;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 5px solid black;
}

.elemento-3{
    background: blue;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 5px solid black;
}

.contenedor-2{
    width: 100%;
    display: flex;
}

.elemento-4{
    background: yellow;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 5px solid black;
    transition-property: border-radius,transform;
    transition: 0.5s;
}

.elemento-5{
    background: red;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 5px solid black;
    position: relative;
    top: 100px;
    right: 250px;
}

.elemento-6{
    background: blue;
    width: 300px;
    height: 300px;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
    border: 5px solid black;
    position: relative;
    top: 200px;
    right: 350px;
}

.contenedor-2:hover .elemento-4{
    border-radius: 50%;
}

.contenedor-2:hover .elemento-5{
    transform: scale(2);
    transition: 2s;
}

.contenedor-2:hover .elemento-6{
    transform: translate(650px);
    transition: 3s;
}
