*{
    font-family: Arial, Verdana, sans-serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-variant: small-caps;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: italic;
    font-variant: small-caps;
}

span{
    font-weight: 900;
}

strong{
    font-weight: 400;
}