*{
    width: 0; 
    margin: 0; 
} 

/* .cuadrado{
    width: 200px;
    height: 200px;
    background: gray;
    position: fixed; LO DEJA FIJO
    left: 50px; PARA QUE SE MUEVA A LA DERECHA

} */

/* .rectangulo{
    width: 300px;
    height: 300px;
    background: red;
} */


.cuadrado{
    width: 200px;
    height: 200px;
    background: gray;
    position: relative;
    left: 50px;


}
.circulo{
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 50px ; 
    
    /* TOP - MUEVE PARA ABAJO */
}

