*{
    margin: 0;
    padding: 0;
}
.rectangulo{
    background: gray;
    position: relative;
    width: 500px;
    height: 300px;
    left: 50%;
}

.rectangulo1{
    background: red;
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 40px;
    left: 10px;
    top: 10px;
}

.rectangulo2{
    background: blue;
    position: absolute;
    width: 200px;
    height: 50px;
    font-size: 40px;
    left: 290px;
    top: 240px;
}

.rectangulo3{
    background: green;
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 40px;
    left: 10px;
    top: 190px;
}

.rectangulo4{
    background: yellow;
    position: absolute;
    width: 200px;
    height: 100px;
    font-size: 40px;
    left: 290px;
    top: 10px;
}