*{
    margin: 0;
    padding: 0;
}

.rectangulo{
    background: gray;
    position: relative;
    width: 500px;
    height: 300px;
}

.rectangulo1{
    background: yellow;
    position: absolute;
    width: 400px;
    height: 70px;
    font-size: 40px;
    left: 50px;
    top: 170px;
}

.rectangulo2{
    background: red;
    position: absolute;
    width: 400px;
    height: 70px;
    font-size: 40px;
    left: 50px;
    top: 60px;
}

.rectangulo3{
    background: blue;
    position: absolute;
    width: 70px;
    height: 240px;
    font-size: 40px;
    left: 120px;
    top: 30px;
}

.rectangulo4{
    background: green;
    position: absolute;
    width: 70px;
    height: 240px;
    font-size: 40px;
    left: 300px;
    top: 30px;
}