*{
    margin: 0;
    padding: 0;
}

.rectangulo{
    background: gray;
    position: relative;
    width: 500px;
    height: 300px;
}

.rectangulo1{
    background: blue;
    position: absolute;
    width: 250px;
    height: 150px;
    font-size: 40px;
    left: 80px;
    top: 10px;
}

.rectangulo2{
    background: green;
    position: absolute;
    width: 130px;
    height: 100px;
    font-size: 40px;
    left: 40px;
    top: 110px;
}

.rectangulo3{
    background: yellow;
    position: absolute;
    width: 180px;
    height: 150px;
    font-size: 40px;
    left: 260px;
    top: 50px;
}

.rectangulo4{
    background: red;
    position: absolute;
    width: 250px;
    height: 100px;
    font-size: 40px;
    left: 120px;
    top: 180px;
}