*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fila1{
    display: flex;
    width: 100%;
}

.columna1, .columna2{
    width: 50%;

}

.h1{
    color: rgb(153, 39, 134);
    font-size: 40px;
}

.estrellas1, .estrellas2, .estrellas3{
    background-color: rgb(245, 234, 243);
    color: rgb(153, 39, 134);
    width: 300px;
    height: 30px;
    font-weight: 300px;
}




