*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* PARA QUE APLIQUEN EN LOS NAVEGADORES
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; */
  
  body{
    background: rgb(171, 95, 171);
  }
  
  .contenedor{
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    border: 2px solid;
  }
  .elemento{
    background: #fff;
    width: 150px;
    height: 150px;
    transition-property: border-radius,transform;
    transition: 1s;
  }
  
  .contenedor:hover .elemento{
    border-radius: 50%;
    transform: rotate(280deg);
   
  }